* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-image: url(img/fondo1.jpg);
    background-position: center;
    background-size: cover;
}

.titulo{
    font-size: 50px;
    text-align: center;
    margin: 20px;
    font-weight: bolder;
    color: black;
}

.lugares{
    text-align: center;
    margin: 5px;
    padding: 5px;
    justify-content: center;
}
.registrate{
    margin: 30px;
    text-transform: capitalize;
    font-size: 40px;
    text-align: center;
    
}
.imgCard{
    width: 250px;
    height: 160px;
    margin: 10px;
}